{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{% static '' %}">
    <meta charset="UTF-8">
    <title>{% block title %} Osnovni naslov {% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<img src="img/logo.png">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aplikacija:index' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aplikacija:stranica1' %}">Stranica 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aplikacija:stranica2' %}">Stranica 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aplikacija:studenti' %}">Studenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todos:todos' %}">TODO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todos:category_create' %}">Category add</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}Podrazumevana vrednost{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>