{% extends "base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
            <div class="form-group m-3">
                <label>{{ f.label_tag }}</label>
                {{ f }}
            </div>
        {% endfor %}
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
{% endblock %}