{% extends "base.html" %}

{% block title %} Dodavanje studenta {{ poruka }} {% endblock %}

{% block content %}
    <div class="card" style="width: 50%;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                {% for f in form %}
                <div class="form-group row m-3">
                    <label class="col-2">{{ f.label_tag }}</label>
                    <div class="col-10">
                        {{ f }}
                    </div>
                </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}