{% extends "base.html" %}

{% block title %}Student {{ student.ime }}{% endblock %}

{% block content %}
    {% if student %}
        <h1>{{ student.ime }}</h1>
        <h2>{{ student.prezime }}</h2>
        <h3>{{ student.starost }}</h3>

        <a
                href="{% url 'aplikacija:studentDelete' student.id %}"
                class="btn btn-danger mb-2"
                role="button"
                aria-pressed="true">
            Obrisi studenta
        </a>

    {% else %}
        <p>NEMA STUDENT</p>
    {% endif %}
{% endblock %}