{% extends "base.html" %}

{% block title %}Studenti{% endblock %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <a
                    href="{% url 'aplikacija:AddStudent' %}"
                    class="btn btn-primary mb-2"
                    role="button"
                    aria-pressed="true">
                Dodaj studenta
            </a>

            {% if studenti %}
                <ul class="list-group">
                    {% for student in studenti %}
                        <li class="list-group-item">
                            <a class="nav-link text-dark" href="{% url 'aplikacija:student' student.id %}">
                                {{ student.ime }} {{ student.prezime }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>NEMA STUDENTA</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
