{% extends "base.html" %}

{% block title %} TODO {% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-8 shadow rounded m-2 justify-content-center">
                {#                <div class="d-flex flex-row justify-content-center">#}

                {% for task in tasks %}

                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="d-flex flex-row justify-content-center">
                    {% endif %}

                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">


                        {% if task.priority == 0 %}
                            <h5 class="card-title bg-light">{{ task.title }}</h5>
                        {% elif task.priority == 1 %}
                            <h5 class="card-title bg-info">{{ task.title }}</h5>
                        {% elif task.priority == 2 %}
                            <h5 class="card-title bg-primary">{{ task.title }}</h5>
                        {% elif task.priority == 3 %}
                            <h5 class="card-title bg-success">{{ task.title }}</h5>
                        {% elif task.priority == 4 %}
                            <h5 class="card-title bg-warning">{{ task.title }}</h5>
                        {% elif task.priority == 5 %}
                            <h5 class="card-title bg-danger">{{ task.title }}</h5>
                        {% else %}
                            <h5 class="card-title bg-dark">{{ task.title }}</h5>
                        {% endif %}


                        {% if task.done %}
                            <del><p class="card-text">{{ task.description }}</p></del>
                        {% else %}
                            <p class="card-text">{{ task.description }}</p>
                        {% endif %}

                        <div class="d-flex flex-row justify-content-around">
                            <a
                                    class="btn btn-outline-success"
                                    href="{% url 'todos:done_todo' task.id %}"
                                    role="button">

                                {% if task.done %}
                                    Undone
                                {% else %}
                                    Done
                                {% endif %}

                            </a>
                            <a
                                    class="btn btn-outline-danger"
                                    href="{% url 'todos:delete_todo' task.id %}"
                                    role="button">Delete
                            </a>
                            <a
                                    class="btn btn-outline-warning"
                                    href="{% url 'todos:todos_update' task.id %}"
                                    role="button">Edit
                            </a>


                        </div>

                    </div>
                </div>

                {% if forloop.counter0|add:-2|divisibleby:3 %}
                    </div>
                {% endif %}

                {% endfor %}

                {% if not tasks|length|divisibleby:3 %}
                    </div>
                {% endif %}


        </div>
        <div class="col-3 shadow rounded m-2 p-2">
            <form method="post">
                {% csrf_token %}
                {% for f in form %}
                    <div class="form-group m-3">
                        <label>{{ f.label_tag }}</label>
                        {{ f }}
                    </div>
                {% endfor %}
                <input type="submit" value="Dodaj" class="btn btn-primary">
            </form>
        </div>
    </div>
    </div>


    {#    {% if tasks %}#}
    {#        <div class="card">#}
    {#            {% for task in tasks %}#}
    {#                <div class="d-flex flex-row justify-content-center">#}
    {#                    <div class="card" style="width: 18rem;">#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="card-title"> {{ task.title }} </h5>#}
    {#                            <p class="card-text"> {{ task.description }} </p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {#    {% else %}#}
    {#        <p>Nema zadataka!</p>#}
    {#    {% endif %}#}

{% endblock %}